<div id="CookieBanner" class="cookie-banner drawer drawer-bottom"
    data-cookiedays="{{ settings.cookie_banner_cookiedays }}" >
    <p>{{ settings.cookie_banner_text }}</p>
    <button type="button" name="button" class="btn accept">{{ 'general.GDPR.cookie_accept' | t }}</button>
</div>