{% assign extraLinks = linklists.header-extra-links %}
{%- if extraLinks -%}
<div class="header-extra-links">
{% for link in extraLinks.links %}
    <div class="header-block">
        <a href="{{ link.url }}" class="block-title"><span>{{ link.title }}</span></a>
    </div>
{% endfor %}
</div>
{%- endif -%}