{% comment %}
<div class="collection-load-more-wrapper">
    <div id="loadmore" class="collection-load-more">{{ 'collections.general.load_more' | t }}</div>
</div>
{% endcomment %}

{% comment %}Last item on page{% endcomment %}
{% assign currentTotal = paginate.page_size | times: paginate.current_page %}
{%- if currentTotal > paginate.items -%}
    {%- assign currentTotal = paginate.items -%}
{%- endif -%}

<div class="collection-pagination">
	<span class="product-count">
		{{ currentTotal }} of {{ paginate.items }} Products
	</span>
	<span class="pagination">
	    {{ paginate | default_pagination | replace: '&laquo; Previous', '' | replace: 'Next &raquo;', '' }}
	</span>
</div>