{%- if settings.product_compare_enable != blank -%}
<button class="product-compare add-ctl" title="Compare" 
    data-id="" 
    data-sku="" 
    data-handle="" 
>
    <span class="check-box"></span>
    <span class="lable">{{ 'products.product.compare_add' | t }}</span>
</button>
{%- endif -%}