@import './fonts';

// Global
.clearfix {
    @include clearfix();
}

.visually-hidden {
    @include visually-hidden();
}

.js-focus-hidden:focus {
    outline: none;
}

.label-hidden {
    @include visually-hidden();

    // No placeholders, so force show labels
    .no-placeholder & {
        @include visually-shown();
    }
}

.visually-shown {
    @include visually-shown();
}

// Only show when JS is supported
html.no-js .js {
    display: none !important;
}

// Only show when browser cookies are not supported
.supports-no-cookies:not(html) {
    display: none;

    html.supports-no-cookies & {
        display: block;
    }
}

// Only show when browser cookies are supported
.supports-cookies {
    html.supports-no-cookies & {
        display: none;
    }
}

.hide {
    display: none !important;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.absolute-image{
    @include backgroundImage;
}

picture.responsive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    source {
        display: none !important;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &.height-fix {
        position: relative;

        img {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
    }
}

// Breadcrumb Style
.breadcrumb {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    @include body-font-3;
    .divider {
        padding: 0 5px;
    }
    & > * {
        display: block;
    }
}

// Price Style
.price-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    &, & span {

    }
    .product-compare-price {
        margin-left: 5px;
        text-decoration: line-through;
    }
}

// Quantity Selectors
.js-qty, .ajaxcart__qty {
    margin-bottom: 5px;

    button {
        width: 25px;
        height: 25px;
        .fallback-text{
            display: inline-block;
        }
    }
    input {
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 0;
        text-align: center;
        background: transparent;
    }
    & > * {
        display: inline-block !important;
    }
}

// Slider Style
.slick-slider {
    .slick-dots {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 0;
        padding: 0 20px;
        button {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin: 0 5px;
            overflow: hidden;
            text-indent: -999em;
            background: $black;
            @include opacity(0.6);
            @include transition(all $slow);
        }
        .slick-active button {
            @include opacity(1);
        }
    }
    .slick-arrow {
        position: absolute;
        z-index: 1;
        bottom: 0;
        color: transparent;
        width: 50px;
        height: 50px;

        &.slick-prev {
           @include icon-fonts-before($icon-chevron-left, $cellcosmetRed, 20px);
            left: 0;
        }
        &.slick-next {
           @include icon-fonts-before($icon-chevron-right, $cellcosmetRed, 20px);
            right: 0;
        }
    }
}

.collection-products {
    
    // @include gridSystemWithPromo(3,33px);
    @include gridSystemWithPromo(4,12px);
    
    .item {
        position: relative;
        @include transition(all $slow);
        @extend .animated, .fadeIn;
        
        .product-image-wrapper {
            position: relative;
            display: block;
            overflow: hidden;
            
            .product-image {
                @include query-medium-down {
                    align-items: center;
                }
            }
            
            & > a {
                width: 100%;
                position: relative;
                display: block;
                overflow: hidden;
                // max-height: 274px;
                @include percentage-height($productImageRatioPercentage);
                @include vcenter;
                img {
                    position: absolute;
                    width: 100%;
                }
                @include query-medium-down {
                    // max-height: 330px;
                    margin: 0 auto;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
        .product-image {
            height: 100%;
            position: absolute;
            width: 100%;
            @include transition(opacity $slow);
            &.alt {
                @include opacity(0);
                img {
                    @include transition(opacity $slow);
                    &:not(.loaded) {
                        @include opacity(0);
                    }
                }
            }
        }
        .product-badge {
            position: absolute;
            top: 5px;
            left: 5px;
        }
        .product-preorder-badge,
        .product-finalsale-badge {
            position: absolute;
            top: 27px;
            left: 0;
            @include transform(rotate(-45deg));
        }
        .out-of-stock {
            background: $red;
            color: $white;
            position: absolute;
            bottom: 100%;
            display: inline-block;
            right: 0;
            line-height: 25px;
            padding: 0 10px;
        }
        .product-info-wrapper {
            padding: 12px 20px;
            position: relative;
            text-align: center;
            .oke-collection{
                display: flex;
                justify-content: center;
                align-items: center;
                .okeReviews.oke-sr{
                    margin-left: 10px;
                    --oke-starRating-spaceBelow: 0 !important;
                    > div {
                        display: flex;
                        // flex-direction: row-reverse;
                    }
                    .oke-sr-stars{
                        margin-left: 5px;
                    }
                }
                .oke-sr-count{
                    color: $cellcosmetRed;
                    .oke-sr-label-text, .oke-sr-total-text{
                        display: none !important;
                    }
                }
            }
        }
        .quick-buy-container {
            position: absolute;
            opacity: 1;
            bottom: -40px;
            width: 100%;
            @include transition(all $slow);
            &.hidden {
                opacity: 0;
            }
            .add-to-cart-btn {
                @include body-font-8;
                height: 40px;
                border: 1px solid;
                line-height: 40px;
                width: calc(100% - 45px);
                margin: 10px auto;
                &:hover {
                    color: $white;
                    background: $grayscale800;
                }
            }
            .product-attribute-container, .product-qty-container {
                display: none;
            }
        }
    }

    // Product Slider Style
    &.product-slider {
        $productSliderBottomMargin: 60px;
        .item {
            width: 100%;
            margin: 0 0 $productSliderBottomMargin;
            display: none;
            &:first-child {
                display: block;
            }
            .product-image {
                justify-content: flex-start;
            }
            .product-info-wrapper{
                min-height: 0;
                margin-left: 0;
                & > *{
                    // display: none;
                }
                .product-name, .price-box, .product-desc{
                    display: block;
                    text-align: center;
                    color: $grayscale800;
                }
                .product-desc{
                    padding: 10px 0 6px;
                }
                .price-box{
                    bottom: -#{$productSliderBottomMargin - 10px};
                }
            }
            @include query-medium-down {
                margin: 0;
                .quick-buy-container {
                    display: none !important;
                }
            }
        }
        &.slick-slider{
            .slick-arrow{
                bottom: $productSliderBottomMargin;
                &::before {
                    color: $cellcosmetRed;
                }
            }
        }
    }
}

// Accordion and Tab System Style (OneTabSystem)
.tab-accordion-system {
    position: relative;
    .system-title {
        cursor: pointer;
        @include transition(all $slow);
    }
    .system-content {
        @include transition(all $slow);
    }
    .system {
        @include transition(all $slow);
    }
}

.accordion-container {
    $accroding-height: 44px;
    $accroding-height-mobile: 40px;
    
    .system-title {
        @include body-font-3-emphasis;
        @include query-large-up {
            font-size: 18px;
        }
        position: relative;
        padding: 10px 30px 10px 0;
        &:after {
            // content: "+";
            content: "\e922";
            font-family: 'onerockwell' !important;
            speak: none;
            font-size: 8px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-indent: 0;
            line-height: inherit;
            position: absolute;
            top: 50%;
            right: 10px;
            @include transform(translateY(-50%));
        }
    }
    
    .system-content {
        @include body-utility-3;
        max-height: 0;
        visibility: hidden;
        @include opacity(0);
        .content-inner {
            padding: 10px 0 20px;
        }
    }
    
    .system {
        border-top: 1px solid $metal;
        &.active {
            .system-title {
                &:after {
                    // content: "-";
                    @include transform(translateY(-50%) rotate(180deg));
                }
            }
            .system-content{
                max-height: 5000px;
                visibility: visible;
                @include opacity(1);
            }
        }
        &:last-child {
            border-bottom: 1px solid $metal;
        }
    }
    
    @include query-medium-down {
        .system-title {
            line-height: $accroding-height-mobile !important;
        }
    }
    
    @include query-large-up {
        .system-title {
            line-height: $accroding-height !important;
        }
        .system-content {
            .content-inner {

            }
        }
    }
}

.tab-container {
    $tab-height: 55px;
    $tab-height-mobile: 40px;
    
    .system-title {
        background: $lightGrey;
    }
    .system-content {
        background: $white;
    }
    
    @include query-medium-down {
        .system-title {
            padding: 0 20px;
            position: relative;
            line-height: $tab-height-mobile !important;
            &:after {
                // content: "+";
                line-height: inherit;
                position: absolute;
                top: 0;
                right: 20px;
            }
        }
        .system-content {
            max-height: 0;
            visibility: hidden;
            @include opacity(0);
            .content-inner {
                padding: 20px;
            }
        }
        .system {
            border-bottom: 1px solid $white;
            &.active {
                .system-title {
                    &:after {
                        // content: "-";
                    }
                }
                .system-content {
                    max-height: 5000px;
                    visibility: visible;
                    @include opacity(1);
                }
            }
        }
    }
    
    @include query-large-up {
        border: 2px solid $white;
        padding-top: $tab-height;
        .system-title {
            position: absolute;
            z-index: 1;
            top: 0;
            text-align: center;
            line-height: $tab-height !important;
            border-left: 1px solid $white;
            border-right: 1px solid $white;
            &.system-title-0 {
                border-left: 0;
            }
            &.system-title-last {
                border-right: 0;
            }
        }
        .system-content {
            display: none;
            .content-inner {
                padding: 96px;
            }
        }
        .system {
            &.active {
                .system-title {
                    background: $white;
                }
                .system-content {
                    display: block;
                }
            }
        }
    }
}

// Social Style
.social-wrapper {
    & > * { display: inline-block; }
    .social-facebook { @include icon-btn($icon-facebook-f-brands, inherit, inherit); }
    .social-twitter { @include icon-btn($icon-twitter-brands, inherit, inherit); }
    .social-pinterest { @include icon-btn($icon-pinterest-brands, inherit, inherit); }
    .social-instagram { @include icon-btn($icon-instagram, inherit, inherit); }
}
.social-sharing {
    font-size: 16px;
    & > * { display: inline-block; vertical-align: bottom; margin-left: 20px; }
    .share-fb { @include icon-btn($icon-facebook-f-brands, inherit, inherit); }
    .share-tw { @include icon-btn($icon-twitter-brands, inherit, inherit); }
    .share-pin { @include icon-btn($icon-pinterest-brands, inherit, inherit); }
    .share-mail { @include icon-btn($icon-mail, inherit, inherit); }
}
.one-social {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

// Page Navs and Filters
.nav-dropdown {
    &.sorting {
        @include navDropdown();
    }
    @include query-large-up {
        &.category, &.filter {
            @include navDropdown();
        }
        &.category, &.filter, &.sorting {
            .nav-dropdown-content {
                white-space: nowrap;
            }
        }
    }
}

.nav-accordion {
    @include query-large-up {
        @include navAccordion();
    }
}

// Nav mode switcher
.mode-switcher {
    display: flex;
    flex-wrap: nowrap;
    span:not(.visually-hidden) {
        display: none;
        width: 10px;
        height: 20px;
        background: $lightGrey2;
        margin-right: 2px;
        @include transition(all $slow);
    }
    &.active {
        span:not(.visually-hidden) {
            background: $black;
        }
    }
    &.large {
        span:nth-child(1),
        span:nth-child(2) {
            display: block;
        }
    }
    &.small {
        span:nth-child(1) {
            display: block;
        }
    }
    @include query-large-up {
        &.large {
            span:nth-child(3),
            span:nth-child(4) {
                display: block;
            }
        }
        &.small {
            span:nth-child(2) {
                display: block;
            }
        }
    }
}

// Product Badges
.product-badge {
    @include tag-1;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $cellcosmetRed;
}
.product-preorder-badge {
    @include title-font-5;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
}
.product-finalsale-badge {
    @include title-font-5;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
    color: $red;
}

// Address
address {
    @include body-font-3;
    white-space: pre-line;
}

// Global Recommended Blocks
.global-recommended-blocks {
    .title {
        text-align: center;
        padding: 40px 0 30px;
        @include title-font-4;
    }
    .blocks-wrapper {
        margin: 0 auto 60px;
        max-width: $xLargeScreen;
        overflow: hidden;
        .block {
            position: relative;
            @include flexcenter();
            img {
                width: 100%;
            }
        }
        .cta {
            width: 70% !important;
            position: absolute;
        }
        .style-light {
            .cta {
                @include cta-2();
            }
        }
        .style-dark {
            .cta {
                @include cta-1();
            }
        }
    }
    @include query-large-up {
        .title {
            padding: 100px 0 40px;
        }
        .blocks-wrapper {
            margin: 0 auto 120px;
            .block-items {
                @include gridSystemWithPromo(3,30px);
            }
        }
    }
}

// VIP Restriction Blocker
.vip-access-blocker {
    @include flexcenter;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}

// This is an element in the bottom left of every page when previewing a theme.
// It's color changes between the large and medium-down breakpionts.
// Clicking it will trigger the #preview-bar-iframe,
// which is hidden out of view for development purposes.
#responsive-indicator {
    position: fixed;
    z-index: 1000;
    min-width: 20px;
    left: $smallScreenMargin;
    bottom: 0;
    width: auto;
    display: inline-block;
    border-radius: 10px 10px 0 0;
    font-size: 9px;
    line-height: 1;
    padding: 4px;
    height: 16px;
    cursor: pointer;
    background-color: yellow;
    &.active{
        transform: translate3d(0,-55vh,0) !important;
        // height: 70vh;
        // bottom: unset;
        // top: 30% !important;
        // background-color: #0000007a;
    }
    @include query-medium-up {
        color: white;
        background-color: green;
        &.active{
            // transform: translate3d(0,-60px,0) !important;
        }
    }
    @include query-large-up {
        background-color: grey;
    }
}

// Hidden out of view and trigger when clicking #responsive-indicator
#preview-bar-iframe{
    top: 100% !important;
    .admin-bar{
        top: 0;
    }
    &.active{
        // transform: translate3d(0,-92px,0) !important;
        height: 55vh !important;
        bottom: unset;
        top: 45% !important;
        background-color: rgba(0,0,0,0.5);
    }
    @include query-medium-up{
        &.active{
            // transform: translate3d(0,-60px,0) !important;
        }
    }
}

// Predictive Search - Dawn theme default styling
// 1R modifications - media queries, some styling for dropdown, removal of unused styling 
.predictive-search {
    // display: none;
    position: fixed;
    top: 84px;
    left: 0;
    width: 100vw;
    z-index: 3;
    background-color: $white;
    text-align: left;
    color: $black;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  
      .hidden{
          display: none;
      }
  
  }
  
  .predictive-search-form{
      // position: relative;
  }
  
  #predictive-search-results{
      max-height: 400px;
      overflow-y: scroll; 
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      display: none;
      &:last-of-type{
        display: block;
      }
  }
  
  .predictive-search--search-template {
    z-index: 2;
    width: 100%;
  }
  
  .predictive-search__results-groups-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    // padding-bottom: 1rem;
  }

  .predictive-search__results-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: $xLargeScreen;
    margin: 0 auto;
    padding: 0 96px;

  }
  
  @include query-medium-down {
    .predictive-search__results-groups-wrapper {
      flex-direction: column;
    }
  
    .predictive-search__results-groups-wrapper:not(
        .predictive-search__results-groups-wrapper--no-suggestions
      ) {
      /* On mobile, when there are no suggestions the first .predictive-search__results-groups-wrapper
       * is virtually empty due to a display: hidden on the predictive-search__pages-wrapper child.
       * This causes the gap to render and look like a big top margin */
      gap: 2rem;
    }
  }
  
  .predictive-search__heading {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
    margin: 0 1rem;
    padding: 1.5rem 96px 0.75rem;
    color: rgba(var(--color-foreground), 0.7);
    @include body-font-4;
    width: 100%;
    max-width: $xxLargeScreen;
    margin: 0 auto;
  }

  > .description{
    @include body-font-3;
    max-width: 100px;
    padding-bottom: 5px;

  }

  .predictive-search__item-heading, .price{
    @include body-font-4;
    padding-bottom: 5px;
  }
  
  .predictive-search__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    text-align: left;
    text-decoration: none;
    width: 100%;
  }
  
  .predictive-search__item-content {
    grid-area: product-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .predictive-search__item-heading {
    margin: 0;
  }
  
  .predictive-search__item-content .price {
    font-size: 12px;
  }
  
  .predictive-search__image {
    grid-area: product-image;
    width: 200px;
    height: 200px;
    object-fit: contain;
    font-family: "object-fit: contain";
  }

.site-country {
    padding: 0 4px 0 4px;
    @include query-medium-down {
        position: relative;
        color: $grayscale800;
        @include body-font-4;
        letter-spacing: 0.8px;
        text-transform: capitalize;
        padding: 0;
        button {
            display: block;
            width: 100%;
            position: relative;
            padding: 0 25px 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            text-align: left;
            .icon {
                position: absolute;
                right: 25px;
                left: unset;
                font-size: 7px;
                padding-right: 20px;
            }
        }
    }
}
.block-country {
    width: auto;
    .icon-chevron-down {
        font-size: 9px;
        padding-left: 6px;
    }
}

.country-modal-wrapper{
    top: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    visibility: hidden;
}

#CountryModal{
	.drawer-content{
		max-width: 550px;
		margin: 0 auto;
        padding: 6%;
        text-align: center;
        overflow: visible;
        p {
            margin-bottom: 18px;
        }
	}
    .drawer-close {
        width: 44px;
        height: 44px;
        top: 0;
        right: 0;
    }
	form {
		.btn{
			width: 100%;
			max-width: 250px;
            margin: 15px auto;
		}
	}
	.country-selector-wrapper{
		margin-top: 30px;
	}
	.select-wrapper{
		margin-bottom: 25px;
		label{
			margin-bottom: 10px;
			display: block;
			font-size: 14px;
			letter-spacing: 1.75px;
		}
		select{
			display: block;
			max-width: 210px;
			margin: 0 auto;
			font-family: initial;
			text-transform: capitalize;
			color: black;
		}
	}
	.recommend-country-content {
		display: none;
		padding: 15px 0;
	}
	&.recommend-country {
		.text-wrapper {
			display: none;
		}
		.recommend-country-content {
			display: block;
		}
	}
	@include query-medium-down {
        .drawer-content {
            width: 90%;
            padding: 60px 30px;
        }
		
		.select-wrapper label{
			font-size: 12px;
		}
	}
}


#localization_form {
    .disclosure {
        display: inline-block;
        position: relative;
    }
    .disclosure__button {
        background-color: #000000;
        border: none;
        color: #ffffff;
        padding: 1em 1.7em;
        text-transform: uppercase;
        font-size: 14px;
        margin-top: 25px;
    }
    .disclosure__button .icon{
        width: 12px;
    }
}
#CountryList{
    position: absolute;
    background-color: white;
    max-height: 20dvh;
    overflow-y: auto;
    scrollbar-color: #e4e4e4;
    scrollbar-width: thin;
    width: 100%;
    box-shadow: 1px 1px 3px #bcbcbc8a;
    li{ 
        display: block;
        &:not(:last-child){
            border-bottom: 1px solid #0000000d;
        }
        a{
            display: block;
            font-size: 13px;
            padding: 20px 20px;
        }
    }
}