@import '../mixins/fonts';

/*============================================================================
  Icons
==============================================================================*/
@include font-family-import($iconFont, true);

[class^='icon-'],
[class*=' icon-'] {
    @include icon-fonts-base();
}

.icon-account{
    &:before{
        content: $icon-account;
    }
}
.icon-bag{
    &:before{
        content: $icon-bag;
    }
}
.icon-dropdown{
    &:before{
        content: $icon-dropdown;
    }
}
.icon-arrow-right{
    &:before{
        content: $icon-arrow-right;
    }
}
.icon-alert-circle{
    &:before{
        content: $icon-alert-circle;
    }
}
.icon-arrow-down{
    &:before{
        content: $icon-arrow-down;
    }
}
.icon-arrow-left{
    &:before{
        content: $icon-arrow-left;
    }
}
.icon-arrow-right2{
    &:before{
        content: $icon-arrow-right;
    }
}
.icon-arrow-up{
    &:before{
        content: $icon-arrow-up;
    }
}
.icon-check{
    &:before{
        content: $icon-check;
    }
}
.icon-chevron-down{
    &:before{
        content: $icon-chevron-down;
    }
}
.icon-chevron-left{
    &:before{
        content: $icon-chevron-left;
    }
}
.icon-chevron-right{
    &:before{
        content: $icon-chevron-right;
    }
}
.icon-chevron-up{
    &:before{
        content: $icon-chevron-up;
    }
}
.icon-grid{
    &:before{
        content: $icon-grid;
    }
}
.icon-heart{
    &:before{
        content: $icon-heart;
    }
}
.icon-mail{
    &:before{
        content: $icon-mail;
    }
}
.icon-onerockwell2{
    &:before{
        content: $icon-onerockwell2;
    }
}
.icon-maximize-2{
    &:before{
        content: $icon-maximize-2;
    }
}
.icon-minimize-2{
    &:before{
        content: $icon-minimize-2;
    }
}
.icon-onerockwell{
    &:before{
        content: $icon-onerockwell;
    }
}
.icon-circle{
    &:before{
        content: $icon-circle;
    }
}
.icon-move{
    &:before{
        content: $icon-move;
    }
}
.icon-pause{
    &:before{
        content: $icon-pause;
    }
}
.icon-play{
    &:before{
        content: $icon-play;
    }
}
.icon-refresh-cw{
    &:before{
        content: $icon-refresh-cw;
    }
}
.icon-search2{
    &:before{
        content: $icon-search2;
    }
}
.icon-close{
    &:before{
        content: $icon-close;
    }
}
.icon-navigation{
    &:before{
        content: $icon-navigation;
    }
}
.icon-search{
    &:before{
        content: $icon-search;
    }
}
.icon-checkbox_empty{
    &:before{
        content: $icon-checkbox_empty;
    }
}
.icon-checkbox_filled{
    &:before{
        content: $icon-checkbox_filled;
    }
}
.icon-amazon{
    &:before{
        content: $icon-amazon;
    }
}
.icon-google{
    &:before{
        content: $icon-google;
    }
}
.icon-google-plus{
    &:before{
        content: $icon-google-plus;
    }
}
.icon-facebook{
    &:before{
        content: $icon-facebook;
    }
}
.icon-instagram{
    &:before{
        content: $icon-instagram;
    }
}
.icon-whatsapp{
    &:before{
        content: $icon-whatsapp;
    }
}
.icon-twitter{
    &:before{
        content: $icon-twitter;
    }
}
.icon-youtube{
    &:before{
        content: $icon-youtube;
    }
}
.icon-vimeo{
    &:before{
        content: $icon-vimeo;
    }
}
.icon-appleinc{
    &:before{
        content: $icon-appleinc;
    }
}
.icon-android{
    &:before{
        content: $icon-android;
    }
}
.icon-linkedin2{
    &:before{
        content: $icon-linkedin2;
    }
}
.icon-pinterest{
    &:before{
        content: $icon-pinterest;
    }
}
.icon-paypal{
    &:before{
        content: $icon-paypal;
    }
}
.icon-safari{
    &:before{
        content: $icon-safari;
    }
}
.icon-facebook-f-brands{
    &:before{
        content: $icon-facebook-f-brands;
    }
}
.icon-instagram-brands{
    &:before{
        content: $icon-instagram-brands;
    }
}
.icon-map-marker-alt-solid{
    &:before{
        content: $icon-map-marker-alt-solid;
    }
}
.icon-pinterest-brands{
    &:before{
        content: $icon-pinterest-brands;
    }
}
.icon-search-solid{
    &:before{
        content: $icon-search-solid;
    }
}
.icon-shopping-bag-solid{
    &:before{
        content: $icon-shopping-bag-solid;
    }
}
.icon-twitter-brands{
    &:before{
        content: $icon-twitter-brands;
    }
}

/*============================================================================
  Site Basic Fonts
==============================================================================*/
@include font-family-import($fontFamily-1,'');
@include font-family-import($fontFamily-2,'');
@include font-family-import($fontFamily-3,'');
@include font-family-import($fontFamily-4,'');
// @include font-family-import($fontFamily-5,'');

.base-font-1 {
    @include base-font-1;
}
// .base-font-2 {
//     @include base-font-2;
// }
// .base-font-3 {
//     @include base-font-3;
// }
// .base-font-4 {
//     @include base-font-4;
// }
// .base-font-4 {
//     @include base-font-5;
// }

.title-font-1 {
    @include title-font-1;
}
.title-font-2 {
    @include title-font-2;
}
.title-font-2-light {
    @include title-font-2-light;
}
.title-font-3 {
    @include title-font-3;
}
.title-font-3-light {
    @include title-font-3-light;
}
.title-font-4 {
    @include title-font-4;
}
.title-font-4-light {
    @include title-font-4-light;
}
.title-font-5 {
    @include title-font-5;
}
.title-font-5-light {
    @include title-font-5-light;
}
.title-font-6 {
    @include title-font-6;
}
.title-font-6-light {
    @include title-font-6-light;
}
// .title-font-7 {
//     @include title-font-7;
// }

.body-font-1 {
    @include body-font-1;
}
.body-font-2 {
    @include body-font-2;
}
.body-font-2-emphasis {
    @include body-font-2-emphasis;
}
.body-font-3 {
    @include body-font-3;
}
.body-font-3-emphasis {
    @include body-font-3-emphasis;
}
.body-font-4 {
    @include body-font-4;
}
.body-font-5 {
    @include body-font-5;
}
.body-font-6 {
    @include body-font-6;
}
.body-font-7 {
    @include body-font-7;
}
.body-font-8 {
    @include body-font-8;
}

.body-utility-1 {
    @include body-utility-1;
}
.body-utility-2 {
    @include body-utility-2;
}

/*============================================================================
  Navigation
==============================================================================*/


/*============================================================================
  CTA and CTA Links
==============================================================================*/
.cta-font-1 {
    @include cta-font-1;
}
.cta-font-2 {
    @include cta-font-2;
}
.cta-1 {
    @include cta-1;
}
.cta-2 {
    @include cta-2;
}
.cta-3 {
    @include cta-3;
}
.cta-link-1 {
    @include cta-link-1;
}
.cta-link-2 {
    @include cta-link-2;
}
.cta-link-3 {
    @include cta-link-3;
}

body{
	// Additional Payment Buttons
	// Needs extra specificity (body) for the !important's to work
	.additional-checkout-button{
		width: 100% !important;
		margin-bottom: 12px;
		height: $cta-height-mobile !important;
		iframe{
			height: $cta-height-mobile !important;
		}

		@include query-large-up{
			height: $cta-height !important;
			iframe{
				height: $cta-height !important;
			}
		}
	}
}
