{%- unless for_mobile_menu -%}
    {% comment %} Blocks for large screen ONLY {% endcomment %}
    <div class="header-block block-search has-dropdown">
        <button class="block-title search-toggle">
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
        <div class="block-content">
            {% include 'predictive-search-form', search_form_id: 'SearchInline' %}
        </div>
    </div>    
{%- endunless -%}