/*================ Reset ================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  box-shadow: none;
}

address {
    font-style: normal;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:focus {
  color: inherit;
}

img {
  max-width: 100%;
}

/*================ Form element helpers ================*/
form {
  margin: 0;
}


button,
input[type="submit"],
label[for] {
  cursor: pointer;
}

optgroup {
  
}

// Force option color (affects IE only)
// option {
//   color: $black;
//   background-color: $color-body;
// }

// hide outline on focus for elements which are given focus by JS
[tabindex='-1']:focus {
  outline: none;
}

/*============================================================================
  Fast Tap
  enables no-delay taps (FastClick-esque) on supporting browsers
==============================================================================*/
a,
button,
[role="button"],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

/*================ Links & Buttons ================*/
.btn {
    @include prefix('user-select', 'none', moz ms webkit spec);
    @include prefix(appearance, none, webkit moz spec);
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 0;
}

//
//  Medium Screens and Smaller
//  _____________________________________________
@include query-medium-down {
    // Prevent zoom on touch devices in active inputs
    input,
    textarea,
    select {
      font-size: 16px;
    }
};
