@import '../mixins/helper';

#onezoom {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    @include transition(all $slow);
    
    &:after {
        content: "Loading ...";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        @include transition(all $slow);
        @include transform(translate(-50%,-50%));
    }
    
    &.opened {
        visibility: visible;
        opacity: 1;
    }
    
    &.loading-image {
        &:after {
            visibility: visible;
            opacity: 1;
        }
    }
    
    .onezoom-close {
        position: fixed;
        width: 30px;
        height: 30px;
        top: 30px;
        right: 30px;
        z-index: 2001;
    }
    
    .zoomed-image {
        max-width: 100vw;
        width: auto;
        margin: 0 auto;
        display: block;
    }
}

#onezoom-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    overflow: auto;
    visibility: hidden;
    opacity: 0;
    @include transition(all $slow);
    
    &:after {
        content: "Loading ...";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        @include transition(all $slow);
        @include transform(translate(-50%,-50%));
    }
    
    &.opened {
        visibility: visible;
        opacity: 1;
    }
    
    &.loading-image {
        &:after {
            visibility: visible;
            opacity: 1;
        }
    }

    .panzoom {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        img {
            display: block;
            max-width: none;
            max-height: none;
        }
    }
}

// Inframe Zooming
.onezoom-frame {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 2; // Should higher then the background image
    background-repeat: no-repeat; // Position moves 0% - 100%
    
    &:after {
        content: "Loading ...";
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        @include transition(all $slow);
        @include transform(translate(-50%,-50%));
    }
    
    &.loading-image {
        &:after {
            visibility: visible;
            opacity: 1;
        }
    }
}