---
description: Here is your invoice.
---

{% capture email_title %}Complete your purchase{% endcapture %}
{% capture email_body %}{% if item_count > 1 %}These items{% else %}This item{% endif %} will be reserved for you until: <strong>{{ reserve_inventory_until | date: "%B %d, %Y at %I:%M %p %Z" }}</strong>{% endcapture %}

<container class="draft-order-invoice">

  <row>
    <columns>
      <p class="order-number__text">INVOICE {{ name }}</p>
    </columns>
  </row>

  <row>
    <columns>
      
      <h2 class="email-title">{{ email_title }}</h2>
      <div class="main-content">
        {% if custom_message != blank %}
        <p>{{ custom_message }}</p>
        {% elsif reserve_inventory_until %}
        <p>{{ email_body }}</p>
        {% endif %}
      </div>
      {% if order_status_url %}
        <table class="actions" width="100%">
          <tr>
            <td class="button__cell first"><a href="{{ invoice_url }}" class="button__text">Complete your purchase</a></td>
            {% if shop.url %}
              <td class="button__cell last"><a href="{{ shop.url }}" class="button__text">Continue Shopping</a></td>
            {% endif %}
          </tr>
        </table>
      {% endif %}

      <row class="section order-list">
        <columns>
          {{> product_list}}
        </columns>
      </row>

      <row class="section customer-information">
        <columns>
          {{> customer_info}}
        </columns>
      </row>

    </columns>
  </row>

</container>