---
description: Local order delivered.
---

{% capture email_title %}Your order has been delivered {% endcapture %}
{% capture email_body %}
Haven’t received your order? <a href="mailto:{{ shop.email }}">Let us know</a>.
{% endcapture %}

<container class="local-order-delivered">
  <row>
    <columns>
      <p class="order-number__text">ORDER {{ order_name }}</p>
    </columns>
  </row>

  <row>
    <columns>
      <h2 class="email-title">{{ email_title }}</h2>
      <div class="main-content">{{ email_body }}</div>
      <p>{{ email_emphasis }}</p>
      {% if fulfillment.tracking_numbers.size > 0 %}
      <p class="disclaimer__subtext">
        <br/>
        {% if fulfillment.tracking_numbers.size == 1 and fulfillment.tracking_company and fulfillment.tracking_url %}
          {{ fulfillment.tracking_company }} tracking number: <a href="{{ fulfillment.tracking_url }}">{{ fulfillment.tracking_numbers.first }}</a>
        {% elsif fulfillment.tracking_numbers.size == 1 %}
          Tracking number: {{ fulfillment.tracking_numbers.first }}
        {% else %}
          {{ fulfillment.tracking_company }} tracking numbers:<br />
          {% for tracking_number in fulfillment.tracking_numbers %}
            {% if fulfillment.tracking_urls[forloop.index0] %}
              <a href="{{ fulfillment.tracking_urls[forloop.index0] }}">
              {{ tracking_number }}
              </a>
            {% else %}
              {{ tracking_number }}
            {% endif %}
            <br/>
          {% endfor %}
        {% endif %}
      </p>
      {% endif %}

      {% if order_status_url %}
      <table class="actions" width="100%">
        <tr>
          <td class="button__cell first"><a href="{{ order_status_url }}" class="button__text">View your order</a></td>
          {% if shop.url %}
          <td class="button__cell last"><a href="{{ shop.url }}" class="button__text">Continue Shopping</a></td>
          {% endif %}
        </tr>
      </table>
      {% endif %}
    </columns>
  </row>

  <row class="section order-list">
    <columns>
      {{> product_list}}
    </columns>
  </row>
</container>