---
description: Return approved
---
{%- assign return_delivery_first = return.deliveries | first -%}
{%- assign public_file_url = return_delivery_first.return_label&.public_file_url -%}
{% if order.customer_order_url %}
  {%- assign order_details_url = order.customer_order_url -%}
{% else %}
  {%- assign order_details_url = order.order_status_url -%}
{% endif %}
{% capture email_title %}Your return was approved{% endcapture %}

<container class="return-approved">

  <row>
    <columns>
    <p></p>
    </columns>
  </row>

  <row>
    <columns>
      <h2>{{email_title}}</h2>
      <p class="return-approved__body">
        {% if return_delivery_first.type == 'manual' %}
          We sent you a return shipping label, or you will receive one soon. Once you receive your return shipping label, follow the instructions to complete your return.
        {% elsif return_delivery_first.type == 'shopify_label' %}
          {% if public_file_url != blank and public_file_url.size > 0 %}
            Print your return shipping label and attach it to the package containing your return items.
          {% else %}
            We sent you a return shipping label, or you will receive one soon. Once you receive your return shipping label, follow the instructions to complete your return.
          {% endif %}
        {% else %}
          We will send you additional information to complete the return.
        {% endif %}
        </p>

      {% if return_delivery_first.type == 'shopify_label' and public_file_url != blank and public_file_url.size > 0 %}
        <table class="actions" width="100%">
          <tr>
            <td class="button__cell first"><a attr-link="{{ public_file_url }}" href="{{ public_file_url }}" class="button__text">Print shipping label</a></td>
            <td class="button__cell last"><a href="{{ order_details_url }}" class="button__text">View Your Order</a></td>
          </tr>
        </table>
      {% else %}
        <table class="actions" width="100%">
          <tr>
            <td class="button__cell first"><a href="{{ order_details_url }}" class="button__text">View Your Order</a></td>
            {% if shop.url %}
              <td class="button__cell last"><a href="{{ shop.url }}" class="button__text">Continue Shopping</a></td>
            {% endif %}
          </tr>
        </table>
      {% endif %}
        
   


    </columns>
  </row>


  <row class="section order-list">
    <columns>
      <h3 class="return-heading heading">Return summary</h3>
      {{> return_product_list}}
    </columns>
  </row>

</container>