{% assign plp_quickshop = false %}
{%- if settings.enable_crosssell -%}
    {%- include 'cross-sell-custom' -%}
{%- elsif collection != blank -%}
{% comment %}
    If not using Crosssell APP, it will fall back to display products in current collection
{% endcomment %}
    {% assign recommendedGridHtml = '' %}
    {% assign counter = 1 %}
    {% capture recommendedGridHtml %}
    {%- for collectionproduct in collection.products -%}
        {%- if collectionproduct.handle != product.handle and counter <= 4 -%}
            {%- include 'product-grid-item', product: collectionproduct -%}
            {% assign counter = counter | plus: 1 %}
        {%- endif -%}
    {%- endfor -%}
    {% endcapture %}
    
    {%- if recommendedGridHtml != blank -%}
    <div id="cross-sell" class="">
        <div class="crosssell-text"><h3 class="title">{{ settings.default_crosssell_title }}</h3></div>
        <div class="collection-products items">
            {{- recommendedGridHtml -}}
        </div>
    </div>    
    {%- endif -%}
{%- endif -%}