<script type="text/javascript">
    Shopify.queryParams = {};
    Shopify.collectionHandle = '{{ collection.handle }}';
</script>

{% assign plp_pagination = settings.collection_pagination %}
{%- assign plp_layout = 'one-column' -%}
{%- assign plp_quickbuy = false -%}
{%- assign plp_quickshop = false -%}

{% paginate collection.products by plp_pagination %}
<div class="product-collection {{ plp_layout }}" 
    data-layout="{{ plp_layout }}" 
    data-url="{{ collection.url }}"
    data-quickbuy="{%- if plp_quickbuy -%}true{%- endif -%}" 
    data-quickshop="{%- if plp_quickshop -%}true{%- endif -%}" >
    
    {%- include 'collection-nav', layout: plp_layout -%}
    
    {%- include 'collection-grid', layout: plp_layout, list_image_size: '1400x' -%}
    
    {% if paginate.pages > 1 %}
        {% include 'pagination' %}
    {% endif %}

    {% include 'collection-reviews'%}  

</div>
{% endpaginate %}