<p><br></p>
<row class="category_images">
	<columns>
		<table width="100%">
			<tr>
				<th class="category" colspan="2">
					<a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/collections/eyes"><img src="https://cdn.shopify.com/s/files/1/2277/8081/files/eyes-collection.png?6667713925109756332" class="emailImage" width="578" style="width: 100%; max-width: 578px;" alt=""></a>
					<div><a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/collections/eyes">Eyes</a></div>
				</th>
			</tr>
			<tr>
				<th class="category first" width="50%" style="max-width: 50%">
					<a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/collections/lips"><img src="https://cdn.shopify.com/s/files/1/2277/8081/files/shop-lips.png?12518978930897804386" class="emailImage" width="259" style="width: 100%; max-width: 259px;" alt=""></a>
					<div><a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/collections/lips">Lips</a></div>
				</th>
				<th class="category last" width="50%" style="max-width: 50%">
					<a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/collections/face"><img src="https://cdn.shopify.com/s/files/1/2277/8081/files/shop-face.png?12518978930897804386" class="emailImage" width="259" style="width: 100%; max-width: 259px;" alt=""></a>
					<div><a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/collections/face">Face</a></div>
				</th>
			</tr>
		</table>
	</columns>
</row>
