<container class="footer">
  <table class="row">
    <columns>
      <tr>
        <td class="footer-bottom-content">
          <span class="footer-address">Cellap Laboratory Americas, Inc</span> | 
          <span class="footer-address">217 W 18th Street, Suite 965</span> | 
          <span class="footer-address">New York, NY  10113</span> 
         </td>
      </tr>
      <tr>
        <td class="footer-bottom-content"> 
          <span class="footer-link">
            <a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/pages/privacy-policy">Privacy</a>
          </span> |
          <span class="footer-link">
            <a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/pages/terms-conditions">Terms & Conditions</a>
          </span> |
          <span class="footer-link">
            <a href="{{{{raw}}}}{{ shop.url }}{{{{/raw}}}}/pages/faqs">FAQs</a>
          </span> 
        </td>
      </tr>
    </columns>
  </table>
</container>