@import '../components/fonts';

//
//  Typography
//  _____________________________________________
.template-article{
    .article-header{
        h1{

        }

        p{

        }
    }

    .rte{
        padding: 40px 80px 30px;
        margin: 20px;

        p {
            margin: 20px 0px;
        }
        
        a {
            text-decoration: underline;
        }
    }
}

//
//  Common
//  _____________________________________________
.template-article{
    main{
        background-color: #e8e8e8;
    }
}

//
//  Small screen sizes - Prev: Mobile only
//  _____________________________________________
@include query-small {

};//query-small

//
//  Small + Medium screen sizes - Prev: Tablet and Mobile
//  _____________________________________________
@include query-medium-down {
    .template-article{    
        .rte{
            padding: 10px 20px 30px;
        }
    }
};//query-medium-down

//
//  Medium screen sizes - Prev: Tablet Only
//  _____________________________________________
@include query-medium {
    
};//query-medium

//
//  Medium + Large screen sizes - Prev: Tablet and Desktop
//  _____________________________________________
@include query-medium-up {


};//query-medium-up

//
//  Large screen sizes - Prev: Desktop
//  _____________________________________________
@include query-large-up {
    
};//query-large-up

//
//  XLarge down screen sizes - Prev: Small Desktop
//  _____________________________________________
@include query-large {
    
};//query-large