@import '../components/fonts';

//
//  Typography
//  _____________________________________________
body.template-password {
	.title {
		@include title-font-1;
	}
}
body.page-challenge {
	.shopify-challenge__message {
		@include title-font-4;
	}
	.shopify-challenge__button {
		@include cta-1;
	}
}

//
//  Common
//  _____________________________________________
body.template-password {
	position: relative;
	header.password-header {
        text-align: center;
    }
    #MainContent {
		background: $lightGrey2;
		background-size: cover;
		color: $styleLight;
        margin: 0 auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
	.login-content {
		max-width: calc(100% - 40px);
	}
	.title {
		margin-bottom: 80px;
	}
	.forms-container {
		.fieldset {
			.field {
				background: $lightGrey2;
			}
		}
		& > div {
			margin-bottom: 30px;
		}
		h4 {
			margin-bottom: 5px;
		}
	}
	.customer-login {
		&.hide-and-align {
			position: absolute;
			left: 40px;
			bottom: 40px;
			opacity: 0;
			&:hover {
				opacity: 1;
			}
		}
	}
}

body.page-challenge {
	#MainContent {
		background: $lightGrey2;
		min-height: 100vh;
	    @include flexcenter;
	}
	.shopify-challenge__container {
		padding: 40px;
		background: $white;
	}
}

//
//  Small + Medium screen sizes - Prev: Tablet and Mobile
//  _____________________________________________
@include query-medium-down {
	body.template-password {
        header.password-header {
            background: $headerSmallScreenBackground;
            h1, .h1 {
                height: $headerSmallScreenHeight;
                .site-logo {
                    line-height: $headerSmallScreenHeight;
                    @include icon-fonts-before($icon-cellcosmet, inherit, 40px);
                }
            }
        }
	}
};

//
//  Large screen sizes - Prev: Desktop
//  _____________________________________________
@include query-large-up {
	body.template-password {
		header.password-header {
            background: $headerLargeScreenBackground;
            h1, .h1 {
                height: $headerLargeScreenHeight;
                .site-logo {
                    line-height: $headerLargeScreenHeight;
                    @include icon-fonts-before($icon-cellcosmet, inherit, 40px);
                }
            }
        }
	}
};
