<div class="collection-listing-wrapper">
    <div class="collection-products items" 
        data-ga-id="{{ collection.handle }}"
        data-ga-name="{{ collection.title }}" >
        {%- for product in collection.products -%}
            {%- if current_page == 1 -%}
                {% assign currentProductIndex = forloop.index | handle %}
                {%- if settings.collection_promobox_index_1 == currentProductIndex -%}
                {% include 'product-grid-promo', promoindex: 1 %}  
                {%- elsif settings.collection_promobox_index_2 == currentProductIndex -%}
                {% include 'product-grid-promo', promoindex: 2 %}      
                {%- endif -%}
            {%- endif -%}
            {% include 'product-grid-item' %}
        {%- else -%}
            <div class="collection-empty"><p>{{ 'collections.general.no_matches' | t }}</p></div>
        {%- endfor -%}
    </div>
</div>
