@import '../../components/fonts';

//
//  Typography
//  _____________________________________________
.quick-buy-trigger {
    @include body-font-3;
}

//
//  Common
//  _____________________________________________
.item {
    &.qb-active {
        
    }
    .quick-buy-trigger {
        position: absolute;
        width: 100%;
        top: 100%;
        text-align: center;
        line-height: 25px;
        color: $white;
        background: $lightGrey2;
        @include opacity(0);
        @include transition(all $slow);
    }
    &:hover, &.qb-active {
        .quick-buy-trigger {
            top: auto;
            bottom: 0;
            @include opacity(1);
        }
    }
}

//
//  Medium Screens and Smaller
//  _____________________________________________
@include query-medium-down {
    .quick-buy-trigger {
        display: none !important;
    }
    .quick-buy-container {
        display: none !important;
    }
};


//
// Large Screens
//  _____________________________________________
@include query-large-up {
    .quick-buy-container {
        position: absolute;
        width: 100%;
        padding: 10%;
        bottom: 25px;
        background: rgba(255,255,255,0.5);
        visibility: hidden;
        opacity: 0;
        @include transform(translateY(100%));
        @include transition(all $slow);
        
        &.active {
            visibility: visible;
            opacity: 1;
            @include transform(translateY(0%));
        }
    }
};