{% schema %}
    {
        "name": "Homepage Module H",
        "max_blocks": 3,
        "settings": [
            {
                "type": "text",
                "id": "headline",
                "label": "Headline",
                "default": "SHOP BY ZONE"
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_a",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "headline",
                        "label": "Title"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Homepage Module H",
                "category": "Homepage",
                "settings": {
    
                }
            }
        ]
    }
    {% endschema %}
    
    <section class="hpmodule hp-module-h">
    
        <div class="inner-wrapper">
            {% if section.settings.headline != blank %}
                <h3 class="headline title-font-4-light">{{ section.settings.headline }}</h3>
            {% endif %}
            {% if section.blocks.size > 0 %}
                <div class="blocks-wrapper">
                    <div class="blocks-slider">
                    {% for block in section.blocks %}
                        <a class="block" href="{{ block.settings.link }}">
                        {% if block.settings.image_a != blank %}
                            {%- include 'responsive-image',
                                image: block.settings.image_a,
                                imageSmall: block.settings.image_a,
                                alt: block.settings.image_a.alt,
                                size: '1000x',
                                sizeMedium: '1000x',
                                sizeSmall: '768x',
                                heightFix: false,
                            -%}
                        {% endif %}
                        {% if block.settings.headline != blank %}
                            <p class="title-font-3-light">{{ block.settings.headline }}</p>
                        {% endif %}
                        </a>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    
    </section>
    