{% schema %}
{
    "name": "Homepage Module B",
    "max_blocks": 8,
    "settings": [
        {
            "type": "text",
            "id": "headline",
            "label": "Headline Text",
            "default": "SHOP BESTSELLERS"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Style 1 Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Homepage Module B",
            "category": "Homepage",
            "settings": {

            }
        }
    ]
}
{% endschema %}

<section class="hpmodule hp-module-b style-1">

    <div class="container">
        {% if section.settings.headline != blank %}
            <h2 class="headline title-font-4-light">{{ section.settings.headline }}</h2>
        {% endif %}
    </div>

    {% comment %} <div class="scrollable scrollable-x"> {% endcomment %}
        <div class="collection-products items product-slider slick">
            {% for block in section.blocks %}
                {% if block.settings.product != blank and block.type == "product" %}
                    {% assign product = all_products[block.settings.product] %}
                    {% assign all_tags = product.tags | downcase %}
                    {% include 'product-grid-item', list_image_size: '500x' %}
                {% endif %}
            {% endfor %}
        </div>
    {% comment %} </div> {% endcomment %}
    
</section>
