{% comment %}
  Style Guide Content Here
{% endcomment %}
<div class="webpack-wrapper">
    <div class="style-guide layout-column-2">
        <div class="column style-dark">
            <section class="section-fonts">
                <h4 class="title">Fonts</h4>
                <div class="section-content">
                    <p class="base-font-1" data-info=".base-font-1">Aveneir Next - Demi Bold</p>
                    <p class="base-font-3" data-info=".base-font-3">Aveneir Next - Medium</p>
                    <p class="base-font-4" data-info=".base-font-4">Aveneir Next - Medium Italic</p>
                    <p class="base-font-5" data-info=".base-font-5">Aveneir Next - Regular</p>
                    <p class="base-font-2" data-info=".base-font-2">Aveneir Next - Italic</p>
                </div>
            </section>
            <section class="section-typography">
                <h4 class="title">Typography</h4>
                <div class="section-content">
                    <h1 class="title-font-1" data-info=".title-font-1">H1 Title Heading</h1>
                    <h2 class="title-font-2" data-info=".title-font-2">H2 Subheading</h2>
                    <h2 class="title-font-3" data-info=".title-font-3">H2 Subheading Italic</h2>
                    <h3 class="title-font-4" data-info=".title-font-4">H3 Small Title</h3>
                    <a href="#" class="cta-font-1" data-info=".cta-font-1">Eyebrow CTA</a>
                    <a href="#" class="cta-font-2" data-info=".cta-font-2">Nav link CTA</a>
                    <p class="body-font-1" data-info=".body-font-1">Body Copy</p>
                    <p class="body-font-2" data-info=".body-font-2">Body Copy Italic</p>
                    <p class="body-font-3" data-info=".body-font-3">Small Body Copy Utility Text</p>
                </div>
            </section>
            <section class="section-cta">
                <h4 class="title">CTA</h4>
                <div class="section-content">
                    <button type="button" name="button" class="cta-1" data-info=".cta-1">add to bag</button>
                    <button type="button" name="button" class="cta-1" data-info=".cta-1 with <span>">
                        <span>add to bag!</span>
                    </button>
                    <button type="button" name="button" class="cta-1 disabled" data-info=".cta-1 disabled">Out of stock</button>
                    <a href="#" class="cta-link-1" data-info=".cta-link-1">Learn More</a>
                    <a href="#" class="cta-link-1" data-info=".cta-link-1 with <span>">
                        <span>Learn More</span>
                    </a>
                </div>
            </section>
            <section class="section-form">
                <h4 class="title">Form & Inputs</h4>
                <div class="section-content">
                    <form class="form data-form">
                        <div class="fieldset">
                            <div class="field">
                                <div class="input-wrapper">
                                    <input id="input-1" type="text" name="" value="" placeholder="First Name"/>
                                    <label for="input-1">First Name</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-wrapper select">
                                    <label for="input-2">Sort By</label>
                                    <select id="input-2" class="" name="">
                                        <option value="" selected>Sort By</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="column style-light">
            <section class="section-colors style-dark">
                <h4 class="title">Color</h4>
                <div class="section-content">
                    <div class="color-block black" data-info="Color name: $black #00000"></div>
                    <div class="color-block white" data-info="Color name: $white #ffffff"></div>
                    <div class="color-block lightGrey2" data-info="Color name: $lightGrey2 #9C9392"></div>
                    <div class="color-block darkGrey" data-info="Color name: $darkGrey #3A3231"></div>
                    <div class="color-block lightGrey" data-info="Color name: $lightGrey #F2EEED"></div>
                    <div class="color-block red" data-info="Color name: $red #AD311B"></div>
                </div>
            </section>
            <section class="section-typography">
                <h4 class="title">Typography</h4>
                <div class="section-content">
                    <h1 class="title-font-1" data-info=".title-font-1">H1 Title Heading</h1>
                    <h2 class="title-font-2" data-info=".title-font-2">H2 Subheading</h2>
                    <h2 class="title-font-3" data-info=".title-font-3">H2 Subheading Italic</h2>
                    <h3 class="title-font-4" data-info=".title-font-4">H3 Small Title</h3>
                    <a href="#" class="cta-font-1" data-info=".cta-font-1">Eyebrow CTA</a>
                    <a href="#" class="cta-font-2" data-info=".cta-font-2">Nav link CTA</a>
                    <p class="body-font-1" data-info=".body-font-1">Body Copy</p>
                    <p class="body-font-2" data-info=".body-font-2">Body Copy Italic</p>
                    <p class="body-font-3" data-info=".body-font-3">Small Body Copy Utility Text</p>
                </div>
            </section>
            <section class="section-cta">
                <h4 class="title">CTA</h4>
                <div class="section-content">
                    <button type="button" name="button" class="cta-2 open-modal" data-info=".cta-2">Open Modal</button>
                    <button type="button" name="button" class="cta-2" data-info=".cta-2 with <span>">
                        <span>add to bag!</span>
                    </button>
                    <button type="button" name="button" class="cta-2 disabled" data-info=".cta-2 disabled">Out of stock</button>
                    <a href="#" class="cta-link-2" data-info=".cta-link-2">Learn More</a>
                    <a href="#" class="cta-link-2" data-info=".cta-link-2 with <span>">
                        <span>Learn More</span>
                    </a>
                </div>
            </section>
            <section class="section-form">
                <h4 class="title">Form & Inputs</h4>
                <div class="section-content">
                    <form class="form data-form">
                        <div class="fieldset">
                            <div class="field">
                                <div class="input-wrapper">
                                    <input id="input-1" type="text" name="" value="" placeholder="First Name"/>
                                    <label for="input-1">First Name</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="input-wrapper select">
                                    <label for="input-2">Sort By</label>
                                    <select id="input-2" class="" name="">
                                        <option value="" selected>Sort By</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                        <option value="">List Item 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>