<div class="error-page">
    <span class="background-image" role="img" aria-label="404 page banner" style="background-image:url('{{ 'error.png' | asset_img_url: '768x' }}');"></span>
    <div class="error-page--wrapper">
        <h1 class="error-page--title">{{- 'general.404.title' | t -}}</h1>
        <a href="/" class="error-page--cta cta-2">{{- 'general.404.cta' | t -}}</a>
        <p class="error-page--subtext">{{- 'general.404.subtext' | t -}}</p>
        <ul>
        	<li><a href="/" class="">Home</a></li>
        	<li><a href="/collections/whats-new-1" class="">What's new</a></li>
        	<li><a href="/collections/bestsellers" class="">Bestsellers</a></li>
        	<li><a href="/collections/shop-all" class="">Shop All</a></li>
        	<li><a href="/pages/faq" class="">Cellcosmet Customer Service</a></li>
        </ul>
    </div>
</div>