{% schema %}
{
    "name": "Product Content",
    "blocks": [
        {
            "type": "@app"
        },
        {
            "name": "Associated Products",
            "type": "associated-products",
            "settings": [
                {
                    "type": "text",
                    "id": "associated_title",
                    "label": "Section Title"
                },
                {
                    "type": "product_list",
                    "id": "related_products",
                    "label": "Associated Products"
                }
            ]
        }
    ]
}
{% endschema %}

{%- include 'product-core-data', product: product -%}

{%- assign pdp_layout = section.settings.pdp_layout -%}

{%- assign pdp_layout_scrolling_grid = 'scrolling-grid' -%}
{%- unless pdp_layout == 'scrolling' -%}
    {% assign pdp_layout_scrolling_grid = '' %}
{%- endunless -%}

{%- if isGiftCard -%}
    {% assign pdp_layout = 'slider' %}
{%- endif -%}

<div class="product-content">
    {% for block in section.blocks %}
        {% case block.type %}
        {% when '@app' %}
            {% render block %}
        {% when 'associated-products' %}
            <div class="collection-listing-wrapper product-recommend">
                {% if block.settings.related_products != blank and block.settings.associated_title %}
                    <h2 class="headline title-font-4">{{ block.settings.associated_title }}</h2>
                {% endif %}
                <div class="collection-products items">
                    {% for product in block.settings.related_products %}
                        {% include 'product-grid-item' %}
                    {% endfor %}
                </div>
            </div>
        {% endcase %}
    {% endfor %}
</div>