{% schema %}
{
    "name": "Global Gallery",
    "settings": [
        {
          "type": "text",
          "id": "gallery_title",
          "label": "Title"
        }
    ],
    "blocks": [
        {
            "type": "image_block",
            "name": "Gallery Image Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Link alt title"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Global Gallery",
            "category": "Footer",
            "settings": {

            }
        }
    ]
}
{% endschema %}
{% for block in section.blocks %}
<div class="global-gallery-item">
    <a href="{{ block.settings.link }}" class="image">
        {%- include 'responsive-image-lazy',
            class: 'nav-image',
            image: block.settings.image,
            imageSmall: block.settings.image,
            imageAlt: block.settings.title,
            size: '400x',
            sizeMedium: '400x',
            sizeSmall: '400x',
            heightFix: true,
        -%}
    </a>
</div>
{% endfor %}